{% load static %}<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Scrapping Donations</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Scrapping Donations</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>
                <small class="text-muted d-block">{{ item.title_title }}</small>
              </td>
              <td class="align-middle">{{ item.title_name}}</td>
              <td class="align-middle">{{ item.title_price}}</td>
              <td class="align-middle">{{ item.title_location}}</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>